body {
  padding: 0px 10px;
}


.app > h1 {
    color: #143466;
}

.board-row {
    display: flex;
    flex-direction: row;
}

.square {
    background: #fff;
    border: 1px solid #999;
    /* float: left; */
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  /* .board-row:after {
    clear: both;
    content: '';
    display: table;
  } */

/* .game {
  display: flex;
} */

.main-nav > ul {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: flex-end;
}

.main-nav ul li {
  list-style-type: none;
  color: #124e5f;
  font-size: 1.25rem;
}

.main-nav ul li a{
  text-decoration: none;
  color: black;
}

.main-nav ul li a:hover{
  color: #61dafb;
}

.infocard {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #124e5f;
  padding: 30px;
  border-radius: 10px;
}



.buttons {
  margin-top: 20px;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.btn {
  border-radius: 10px;
  border: 0;
  padding: 10px;
  background-color: #124e5f;
  color: white;
}

 .btn:hover{
  background-color: white;
  color: #124e5f;
  border: 1px solid #124e5f;
}

.btn:disabled{
  background-color: #9eaaad;

}

.content {
  margin: 10px;
}

.image img {
  border-radius: 10px;
}

.counters {
  display: flex;
  gap: 50px;
  padding-bottom: 20px;
}

.counters .counter {
  padding: 5px 20px;
  border: 1px solid black;
  text-align: center;
}

.counters .hover {
  background-color: #124e5f;
  color: white;
  border: 5px solid #61dafb;
}

.counters .fancy {
  border-radius: 10px;
  border: 5px solid #739da8;
}

.section {
  border: 1px solid #124e5f;
  padding: 5px;
}